# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
general-exporter
/exporter

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store

config.yaml
.env
